<div class="row">
            
           
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Edit article..</h4>
          <form class="forms-sample" [formGroup]="form">
            <div class="form-group">
              <label for="exampleInputName1">Title</label>
              <input class="form-control" name="title" ngModel [ngModelOptions]="{standalone: true}" type="text"  placeholder="Title" [(ngModel)] ="article.title">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail3">Type</label>
              <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
            </div>
            
            <div class="form-group">
              <label>File upload</label>
              <input type="file" name="file" class="file-upload-default" (change)="uploadFile($event)">
              <div class="input-group col-xs-12">
                <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                <span class="input-group-append">
                  <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                </span>
              </div>
            </div>
            
            <div class="form-group">
              <label for="exampleTextarea1">Content</label>
              <textarea class="form-control" rows="4" ngModel [ngModelOptions]="{standalone : true}" placeholder="Text..."[(ngModel)] ="article.content" >
                
  
              </textarea>
            </div>
            <button type="submit" class="btn btn-primary mr-2" (click)="editArticle(article)" >Submit</button>
            <button class="btn btn-light" (click)="Cancel()" >Cancel</button>
          </form>
        </div>
      </div>
    </div>
  
    
  </div>