<div class="bradcam_area breadcam_bg overlay2">
         
</div>
<div class="our_latest_blog">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="section_title text-center mb-100">
                  <h3>Our Offers</h3>
              </div>
          </div>
      </div>
      <div *ngFor="let offer of listOffers ">
         
        
          <div *ngIf="offer.state=='Accepted' ">
              <div >
                  <div class="thumb">
                    <img src="{{'http://localhost:7882/fileUploads/'+offer.image.path}}" 
                 width="200" height="200">
                  </div>
                      <div class="date">
                          <p>   {{offer.startsAt| date:'longDate'}} -  {{offer.endsAt| date:'longDate'}}<a href="#">{{offer.type}}</a></p>
                      </div>
                      <div class="blog_meta">
                          <h3><a href=""> {{offer.title}}</a></h3>
                      </div>
                      <p class="blog_text">
                        {{offer.description}}
                      </p>
                      <button type="button" (click)="offerDetails(offer.idOffer)"class="btn btn-secondary">See details</button>
              </div>
          </div>
      </div>
  </div>
</div>