<div class="bradcam_area breadcam_bg ">
    
</div>
<div class="popular_courses plus_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <h3>Formation</h3>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="course_nav">
                    <nav>
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">
                                
                            </li>
                             <li class="nav-item">
                                
                            </li>
                             <li class="nav-item">
                                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="All-Articles" data-toggle="tab" href="#Allformations" role="tab"
                                    aria-controls="design" aria-selected="false">All </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Following-Articles" data-toggle="tab" href="#yours" 
                                role="tab" aria-controls="design" aria-selected="false">my formation</a>
                            </li>
                             <li class="nav-item">
                                
                            </li>
                             <li class="nav-item">
                                
                            </li>
                             <li class="nav-item">
                                
                            </li>
                            
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
    <div class="all_courses">
        <div class="container">
            <div class="tab-content" id="myTabContent">
                
                <div class="tab-pane fade show active" id="AllArticles" role="tabpanel" aria-labelledby="app-allformation">
                        <div class="row">
                                
                           <app-allformation></app-allformation>
                                
                           </div>
                </div>
                
                 <div class="tab-pane fade" id="Followingarticles" role="tabpanel" aria-labelledby="app-myformation">
                        <div class="row">
                                
                           <app-myformation></app-myformation>   
                                
                            </div>
                </div>
                <app-full-calender></app-full-calender>
                
            </div>
        </div>
    </div>
</div>
