<div class="bradcam_area breadcam_bg overlay2">
    <h3>Quiz</h3>
  </div>
  

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->

    <!-- bradcam_area_end -->

    <div class="courses_details_info">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7">
                   
                    <div class="outline_courses_info">
                            <div id="accordion">
                                    <div class="card" *ngFor="let quiz of listQuiz ">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    <i class="flaticon-question"></i>                        
                                                 <a>    {{quiz.title}} </a><br>
                                             description:       {{quiz.description}}<br>
                                              Categorie:      {{quiz.categorie}}<br>
                                            pts:        {{quiz.nbQuestions}}<br>

          <button type="submit" class="btn btn-primary mr-2" [routerLink]="'/startQuiz/'+quiz.idQuizz" >Start</button>

                                                </button>
                                            </h5>
                                        </div>
                                     
                                    </div>
                                 
                                   
                                </div>
                    </div>
                </div>
      




   
    <!-- testimonial_area_end -->

    <!-- our_courses_start -->
    
    <!-- our_courses_end -->
