<div class="bradcam_area breadcam_bg overlay2">
  </div>
 
<div class="our_courses">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <h3>Quiz</h3>
                  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 col-lg-6" *ngFor="let quiz of listQuiz ">
                <div class="single_course text-center" >
                    <div class="icon">
                        <i class="flaticon-art-and-design"></i>
                    </div>
                  
                    <h3>{{quiz.title}}</h3>
                    <h3>{{quiz.categorie}}</h3>
                    <p>
                        {{quiz.description}}
                    </p>
                    <div class="prise">
                                                        
                        <span class="active_prise">
                            {{quiz.nbQuestions}} Questions.
                        </span>
                    </div>
                   <!--  <div class="prise">
                                                        
                        <span class="active_prise">
                            {{getUserResultQuiz(quiz.idQuizz)}} 
                        </span>
                    </div> -->

                    <div>
                        <button type="submit" class="btn btn-outline-dark" [routerLink]="'/home/startQuiz/'+quiz.idQuizz">Start</button>


                      </div>     
                      <div>
                        <button type="submit" class="btn btn-outline-dark" [routerLink]="'/home/ShowresultQuiz/'+quiz.idQuizz">Show result</button>


                      </div>                                         

                </div>
            </div>

          
        </div>
    </div>
</div>