<div class="bradcam_area breadcam_bg overlay2">
</div>
<div class="row">
            
           
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="form-horizontal">Send new offer..</h4>
          <form class="form-horizontal" [formGroup]="form" >
            <div class="form-group">
              <label for="exampleInputName1">type</label>
              <input class="form-control" name="type" 
               
              
              formControlName="type"

              placeholder="type" [(ngModel)] ="offer.type"
              
              [ngClass]="{
                'is-invalid':
                form.get('type')?.touched &&
                  !form.get('type')?.valid
              }"
              >
              <div class="invalid-feedback">
            <span *ngIf="form.get('type')?.errors?.required">
              Entrez le type de votre offre
            </span>
            <span *ngIf="form.get('type')?.errors?.minlength">
              Minimum 5 caractères
            </span>
          </div>
          
            </div>
            <div class="form-group">
              <label for="exampleInputEmail3">title</label>
              <input type="text" class="form-control" id="exampleInputEmail3" placeholder="title"
               placeholder="title" [(ngModel)] ="offer.title"
              formControlName="title"
              name="title"
              [ngClass]="{
                'is-invalid':
                form.get('title')?.touched &&
                  !form.get('title')?.valid
              }"
              >
              <div class="invalid-feedback">
                <span *ngIf="form.get('title')?.errors?.required">
                  Entrez le titre de votre offre
                </span>
                <span *ngIf="form.get('title')?.errors?.minlength">
                  Minimum 5 caractères
                </span>
              </div>
            </div>
           
              <div class="form-group">
                <label for="exampleInputEmail3">endsAt</label>
                <input name="endsAt" required  minlength="4" type="date" class="form-control" id="exampleInputEmail3" placeholder="endsAt"
                  placeholder="endsAt" [(ngModel)] ="offer.endsAt"
                   
                formControlName="endsAt" 
                [ngClass]="{
                  'is-invalid':
                  form.get('endsAt')?.touched &&
                    !form.get('endsAt')?.valid
                }"
                >
                <div class="invalid-feedback">
                  <span *ngIf="form.get('endsAt')?.errors?.required">
                    Entrez la date de fin de votre offre
                  </span>
                 </div>
                </div>
              <div class="form-group">
                <label for="exampleInputEmail3">startsAt</label>
                <input type="date" class="form-control" id="exampleInputEmail3" placeholder="startsAt"
                 placeholder="startsAt" [(ngModel)] ="offer.startsAt"
               name="startsAt"
                formControlName="startsAt"
                [ngClass]="{
                  'is-invalid':
                  form.get('startsAt')?.touched &&
                    !form.get('startsAt')?.valid
                }"
                
                
                >
                <div class="invalid-feedback">
                  <span *ngIf="form.get('startsAt')?.errors?.required">
                    Entrez la date de début de votre offre
                  </span>
                 
                 </div>
              </div>
              
            
    
            <div class="form-group">
              
              
              <input type="file" name="file" 
              formControlName="file"
                [ngClass]="{
                  'is-invalid':
                  form.get('file')?.touched &&
                    !form.get('file')?.valid
                }"
              
              class="file-upload-browse btn btn-primary" accept="image/*" (change)="uploadFile($event)" >

              <span *ngIf="form.get('file')?.errors?.required" style="color:red ;">
                choisissez une image pour votre offre
              </span>
                
            </div>
            
            <div class="form-group">
              <label for="exampleTextarea1">description</label>
              <textarea class="form-control" rows="4" 
               placeholder="description..."[(ngModel)] ="offer.description" 
               name="description"
               
               formControlName="description"
                [ngClass]="{
                  'is-invalid':
                  form.get('description')?.touched &&
                    !form.get('description')?.valid
                }"
                >
                
  
              </textarea>
              <div class="invalid-feedback">
                <span *ngIf="form.get('description')?.errors?.required">
                  Entrez une description de votre offre
                </span>
                <span *ngIf="form.get('description')?.errors?.minlength">
                  Minimum 20 caractères
                </span>
               </div>
              </div>
             

          
            <button 
            type="submit"(click)="sendOffer(offer)" [disabled]="form.invalid">Submit</button>
            <button 
                                    type="submit" (click)="Cancel()" >Cancel</button>
          </form>
        </div>
      </div>
    </div>
  
    
  </div>