<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top fadeInDown" data-wow-delay="0.5s">
    <div class="top-bar smoothie hidden-xs">
        <div class="container">
            
        </div>
    </div>
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand smoothie logo logo-light" href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
            <a class="navbar-brand smoothie logo logo-dark" href="index.html"><img src="assets/img/logo_reverse.png" alt="logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">Home</a>
                </li>

                <li>
                    <a href="#">Forum</a>
                </li>
                

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Events <span class="pe-7s-angle-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="header-1.html">Header 1</a></li>
                        <li><a href="header-2.html">Header 2</a></li>
                        <li><a href="header-3.html">Header 3</a></li>
                        <li><a href="header-4.html">Header 4</a></li>
                        <li><a href="header-5.html">Header 5</a></li>
                        <li><a href="header-6.html">Header 6</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">News <span class="pe-7s-angle-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="footer-1.html">Footer 1</a></li>
                        <li><a href="footer-2.html">Footer 2</a></li>
                        <li><a href="footer-3.html">Footer 3</a></li>
                        <li><a href="footer-4.html">Footer 4</a></li>
                        <li><a href="footer-5.html">Footer 5</a></li>
                        <li><a href="footer-6.html">Footer 6</a></li>
                    </ul>
                </li>
               
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Offers <span class="pe-7s-angle-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="footer-1.html">Footer 1</a></li>
                        <li><a href="footer-2.html">Footer 2</a></li>
                        <li><a href="footer-3.html">Footer 3</a></li>
                        <li><a href="footer-4.html">Footer 4</a></li>
                        <li><a href="footer-5.html">Footer 5</a></li>
                        <li><a href="footer-6.html">Footer 6</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Others <span class="pe-7s-angle-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="footer-1.html">Complaint</a></li>
                        <li><a href="footer-2.html">Contact</a></li>
                        
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Shop </a>
                    
                </li>
                <li><a href="#"><i class="pe-7s-search"></i></a></li>
                <li><a><i class="fa fa-bars"></i></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>



<!-- Header -->
<section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="assets/img/bg/bg2.jpg" data-speed="0.7">
    <div class="section-inner pad-top-200">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt30 wow text-center">
                    <h2 class="section-heading">Prospace</h2>
                </div>
            </div>
        </div>
    </div>
</section>

