<div class="row">
            
           
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Edit Offer..</h4>
          <form class="forms-sample" >
            <div class="form-group">
                <div class="list-group">

                    <a href="#" class="list-group-item list-group-item-action active">
Accept                  
</a>
<a href="#" class="list-group-item list-group-item-action">
    Reject                  
    </a>
    
                  </div>
             
            </div>
            
            
           
            <button type="submit" class="btn btn-primary mr-2" (click)="editOffer(offer)" >Submit</button>
            <button class="btn btn-light" (click)="Cancel()">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  
    
  </div>