<div class="row">
            
           
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Add new file..</h4>
          <form class="forms-sample" [formGroup]="form">
            
            <div class="form-group">
              <label>File upload</label>
              
              
              <input type="file" name="file" class="file-upload-browse btn btn-primary"  (change)="uploadFile($event)" >
                
            </div>

            <button type="submit" class="btn btn-primary mr-2" (click)="addFile()" >Submit</button>
            <button class="btn btn-light" (click)="Cancel()" >Cancel</button>
          </form>
        </div>
      </div>
    </div>
  
    
  </div>