<div class="row">
    <div class="col-lg-12 grid-margin" *ngFor="let article of listArticles">
      <div class="card">
        <div class="card-body">
            <h2>{{article.title}}</h2>
          
            <!-- <img src="{{'http://localhost/FileUploads/'+article.image.path}}"> -->
            <img src="{{'http://localhost:7882/FileUploads/'+article.image.path}}">
            <p> {{article.content}} </p>
            <div id="date">
            <h4> Published By : {{article.user.userName}}</h4> 
            <p id="user">  {{ convertDate(article.createdAt) }} </p>
        </div>
        </div>
      </div>
      <br>
      <hr>
     
    </div>
   
  </div>