<div class="row">
            
           
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Post new quiz..</h4>
          <form class="forms-sample">
            <div class="form-group">
              <label for="exampleInputName1">Title</label>
              <input class="form-control" name="title" ngModel [ngModelOptions]="{standalone: true}" type="text"  placeholder="Title" [(ngModel)] ="quiz.title">
            </div>
      
            <div class="form-group">
              <label for="exampleTextarea1">Description</label>
              <textarea class="form-control" rows="4" ngModel [ngModelOptions]="{standalone : true}" placeholder="Text..."[(ngModel)] ="quiz.description" >
                
  
              </textarea>
            </div>
            <div class="form-group">
              <label for="exampleTextarea1">Categorie</label>
              <textarea class="form-control" rows="4" ngModel [ngModelOptions]="{standalone : true}" placeholder="Text..."[(ngModel)] ="quiz.categorie" >
                
  
              </textarea>
            </div>
            <div class="form-group">
              <label for="exampleTextarea1">nbQuestions</label>
                <input class="form-control" name="title" ngModel [ngModelOptions]="{standalone: true}" type="number"  placeholder="Title" [(ngModel)] ="quiz.nbQuestions">

  
            </div>
            <button type="submit" class="btn btn-primary mr-2" (click)="addQuiz(quiz)" >Submit</button>
            <button class="btn btn-light" (click)="Cancel()">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  
    
  </div>