
   
    .text-navy {
        color: #29338e;
    }
    .mid-icon {
        font-size: 66px !important;
    }
   .container2{
     background-color: white;
   }
.blog_area{
  background-color: #fbf8ff;
}
.container2{
  background-color: #fbf8ff;
}