
<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <app-back-navbar></app-back-navbar>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
     
      <app-back-sidebar></app-back-sidebar>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <router-outlet></router-outlet>

            
              <!-- <app-article-back> </app-article-back> -->
        </div>
      </div>

    </div>
        
        <!-- partial -->
  </div>
     
 </body>
 

