<div class="bradcam_area breadcam_bg overlay2">
         
</div>
<div class="row">
    <div class="col-12 grid-margin stretch-card">
       <div class="card">
          <div class="card-body">
             <h4 class="card-title">Add new topic..</h4>
             <form #form="ngForm">
             <div class="form-group">
                <label for="exampleInputName1">Title</label>
                <input class="form-control" name="title" ngModel [ngModelOptions]="{standalone: true}" type="text"  placeholder="title" [(ngModel)] ="topic.title
                ">
             </div>
             <div class="form-group">
                <label for="exampleTextarea1">Description</label>
                <input class="form-control" name="description" ngModel [ngModelOptions]="{standalone: true}" type="text"  placeholder="description" [(ngModel)] ="topic.description
                ">
             </div>
             <!-- <button type="submit" class="btn btn-primary mr-2" (click)="addTopic(topic)"[disabled]="form.invalid">
                Add</button> -->
                <button type="submit" class="button button-contactForm btn_1 boxed-btn" 
                name="topic"  (click)="addTopic(topic)">Send</button>&nbsp;
                 <button class="btn btn-light" (click)="Cancel()">Cancel</button>
                </form>
          