<router-outlet></router-outlet> 
<section *ngIf="comments">
    <div class="section-inner text-center">
        <div class="container">
            <div class="row" *ngIf="article">
                <div class="col-sm-8 col-sm-offset-2 mt30 wow">
                    
                        <span class="meta-item"><i class="pe-icon pe-7s-folder"></i> POSTED IN <span>News</span></span>
                        <span class="meta-item"><i class="pe-icon pe-7s-user"></i> AUTHOR <span>{{article.user.userName}}</span></span>
                        <span class="meta-item"><i class="pe-icon pe-7s-comment"></i> COMMENTS <span>{{ comments?.length || '0' }}</span></span>
                        <span class="meta-item post-date"><i class="pe-icon pe-7s-clock"></i> POSTED AT 
                            <span> {{ convertDate(article.createdAt) }} </span>
                        </span>
                    
                </div>
            </div>
        </div>
    </div>
            <div class="section-inner">
                <div class="container">
                    
                    <div class="row">
                        <div id="post-content" class="col-sm-8 col-sm-offset-2 blog-item mb60 wow">
                            <div class="row" *ngIf="article">
                                <div class="col-sm-12 single-post-content">
                                 <p> {{article.content}} </p>
                                    <div data-easyshare data-easyshare-url="http://www.distinctivethemes.com/">
                                        <!-- Total -->
                                        <button data-easyshare-button="total">
                                            <span>Total</span>
                                        </button>
                                        <span data-easyshare-total-count>0</span>

                                        <!-- Facebook -->
                                        <button data-easyshare-button="facebook">
                                            <span>Like</span>
                                        </button>
                                        <span data-easyshare-button-count="facebook">0</span>

                                        <!-- Twitter -->
                                        <button data-easyshare-button="twitter" data-easyshare-tweet-text="">
                                            <span>Di</span>
                                        </button>
                                        <span data-easyshare-button-count="twitter">0</span>

                                        <!-- Google+ -->
                                        <button data-easyshare-button="google">
                                            <span>+1</span>
                                        </button>
                                        <span data-easyshare-button-count="google">0</span>

                                        <div data-easyshare-loader>Loading...</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="comments-list" class="col-sm-8 col-sm-offset-2 gap wow">
                            <div class="mt60 mb50 single-section-title">
                                <h3>{{ comments?.length || '0' }} Comments</h3>
                            </div>
                            <div *ngFor="let comment of comments">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="avatar comment-avatar" src="assets/img/users/1.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="well">
                                        <div class="media-heading">
                                            <span class="heading-font"> {{comment.user.userName}} </span>&nbsp; 
                                            <small class="secondary-font">{{ convertDate(comment.postedAt) }}</small>
                                        </div>
                                        <p>{{comment.content}}</p>
                                        
                                    </div>
                                    
                                    <!--/.media-->
                                </div>
                            </div>
                            <!--/.media-->
                            </div>

                            <div id="comments-form" class="row wow" *ngIf="article.enableComments == 1">
                                <div class="col-md-12">
                                    <div class="mt60 mb50 single-section-title">
                                        <h3>Leave A Comment</h3>
                                    </div>
                                    <div id="comment_message"></div>
                                    <form method="post" id="commentform" class="comment-form" #f="ngForm">
                                        <textarea name="comment" class="form-control" id="comments1" 
                                        placeholder="Add comment here... " required [(ngModel)]='comment_value' #comment="ngModel">

                                        </textarea>
                                       
                                        <button class="btn btn-primary pull-right"  [disabled]="f.invalid" (click)="addComment()">Post </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>