<div class="bradcam_area breadcam_bg overlay2">
         
</div>
<section class="blog_area single-post-area section-padding" *ngIf="comments">
 <div class="container" *ngIf="article">
    <div class="row">
       <div class="col-lg-8 posts-list">
          <div class="single-post">
             <div class="feature-img">
               <img class="card-img rounded-0" src="{{'http://localhost/FileUploads/'+article.image.path}}" 
               width="300" height="400" alt="">
             </div>
             <div class="blog_details">
                <h2> {{article.title}}</h2>
                <ul class="blog-info-link mt-3 mb-4">
                   <li><a href="#"><i class="fa fa-user"></i> {{article.user.userName}}</a></li>
                   <li><a href="#"><i class="fa fa-comments"></i> {{ comments?.length || '0' }}</a></li>
                   <li><a href="#"><i class="fa fa-clock-o"></i> {{ convertDate(article.createdAt) }}</a></li>
                </ul>
                <p class="excert">
                   {{article.content}}
                </p>
                
             </div>
          </div>
          
             
                

               <app-articlereactions-front></app-articlereactions-front>
                   

                


             
          
          
          <div class="comments-area" *ngFor="let comment of comments">
             <h4>{{ comments?.length || '0' }} Comments</h4>
             <div class="comment-list">
                <div class="single-comment justify-content-between d-flex">
                   <div class="user justify-content-between d-flex">
                      <div class="thumb">
                         <img src="../../assets/img/comment/comment_3.png" alt="">
                      </div>
                      <div class="desc">
                         <p class="comment">
                           {{comment.content}}
                         </p>
                         
                         <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                               <h5>
                                  <a href="#">{{comment.user.userName}}</a>
                               </h5>
                               <p class="date">{{ convertDate(comment.postedAt) }}</p>
                            </div>
                         </div>
                      </div>

                      
                   </div>
                   
                   <div class="col-sm-4 text-center my-2 my-sm-0">
                     <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                  </div>
                  
                  
                  <li *ngIf="idUser == comment.user.idUser">
                     <a (click)="openEditForm(comment)"><i class="fa fa-edit"></i></a>
                     &nbsp;
                     <a (click)="deleteComment(comment.idComment)"><i class="fa fa-trash"></i></a>
                  </li>
               
                

                </div>
                <!-- EDIT COMMENT SECTION -->
                <ng-container *ngIf="comment == commentToEdit">
                <div class="comment-form">
                  <h4>Edit comment</h4>
                  <form class="form-contact comment_form" action="#" id="editcommentForm" >
                     <div class="row">
                        <div class="col-12">
                           <div class="form-group">
                              <textarea class="form-control w-100" name="editcomment" id="editcomment" cols="30" rows="4"
                                 placeholder="Write Comment" required [(ngModel)]='commentToEdit.content' ></textarea>
                                
     
                             </div>
                        </div>
                        
                     </div>
                     <div class="form-group">
                       <div class="container2">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn" 
                       name="editcomment"  (click)="editComment()">Save</button> &nbsp;
                       <button type="submit" class="button button-contactForm btn_1 boxed-btn" 
                       name="cancel"  (click)="Cancel()">Cancel</button>
     
     
                       <div style="float:right;">
                       <button (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">😀</button>
                       <br>
                       <emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible"  (emojiSelect)="addEmoji($event)" 
                       title="Choose your emoji">
                      </emoji-mart>
                      </div>
                      </div>
     
     
                     </div>
                  </form>
               </div>
               </ng-container>
               <!-- END EDIT COMMENT SECTION -->

             </div>
             
          </div>
          <div class="comment-form" *ngIf="article.enableComments == 1">
             <h4>Leave a Reply</h4>
             <form class="form-contact comment_form" action="#" id="commentForm" #f="ngForm">
                <div class="row">
                   <div class="col-12">
                      <div class="form-group">
                         <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="4"
                            placeholder="Write Comment" required [(ngModel)]='comment_value' #comment="ngModel"></textarea>
                           

                        </div>
                   </div>
                   
                </div>
                <div class="form-group">
                  <div class="container2">
                   <button type="submit" class="button button-contactForm btn_1 boxed-btn" 
                  name="comment" [disabled]="f.invalid" (click)="addComment()">Send</button>


                  <div style="float:right;">
                  <button (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">😀</button>
                  <br>
                  <emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible"  (emojiSelect)="addEmoji($event)" 
                  title="Choose your emoji">
                 </emoji-mart>
                 </div>
                 </div>


                </div>
             </form>
          </div>
       </div>
       <div class="col-lg-4">
          <div class="blog_right_sidebar">
             <aside class="single_sidebar_widget search_widget">
                
             </aside>
             <aside class="single_sidebar_widget post_category_widget">
                <h4 class="widget_title">Category</h4>
                <ul class="list cat-list">
                   <li>
                      <a href="#" class="d-flex">
                         <p>Resaurant food</p>
                         <p>(37)</p>
                      </a>
                   </li>
                   <li>
                      <a href="#" class="d-flex">
                         <p>Travel news</p>
                         <p>(10)</p>
                      </a>
                   </li>
                   <li>
                      <a href="#" class="d-flex">
                         <p>Modern technology</p>
                         <p>(03)</p>
                      </a>
                   </li>
                   <li>
                      <a href="#" class="d-flex">
                         <p>Product</p>
                         <p>(11)</p>
                      </a>
                   </li>
                   <li>
                      <a href="#" class="d-flex">
                         <p>Inspiration</p>
                         <p>(21)</p>
                      </a>
                   </li>
                   <li>
                      <a href="#" class="d-flex">
                         <p>Health Care</p>
                         <p>(21)</p>
                      </a>
                   </li>
                </ul>
             </aside>
             <aside class="single_sidebar_widget popular_post_widget">
                <h3 class="widget_title">Recent Post</h3>
                <div class="media post_item">
                   <img src="img/post/post_1.png" alt="post">
                   <div class="media-body">
                      <a href="single-blog.html">
                         <h3>From life was you fish...</h3>
                      </a>
                      <p>January 12, 2019</p>
                   </div>
                </div>
                <div class="media post_item">
                   <img src="img/post/post_2.png" alt="post">
                   <div class="media-body">
                      <a href="single-blog.html">
                         <h3>The Amazing Hubble</h3>
                      </a>
                      <p>02 Hours ago</p>
                   </div>
                </div>
                <div class="media post_item">
                   <img src="img/post/post_3.png" alt="post">
                   <div class="media-body">
                      <a href="single-blog.html">
                         <h3>Astronomy Or Astrology</h3>
                      </a>
                      <p>03 Hours ago</p>
                   </div>
                </div>
                <div class="media post_item">
                   <img src="img/post/post_4.png" alt="post">
                   <div class="media-body">
                      <a href="single-blog.html">
                         <h3>Asteroids telescope</h3>
                      </a>
                      <p>01 Hours ago</p>
                   </div>
                </div>
             </aside>
             <aside class="single_sidebar_widget tag_cloud_widget">
                <h4 class="widget_title">Tag Clouds</h4>
                <ul class="list">
                   <li>
                      <a href="#">project</a>
                   </li>
                   <li>
                      <a href="#">love</a>
                   </li>
                   <li>
                      <a href="#">technology</a>
                   </li>
                   <li>
                      <a href="#">travel</a>
                   </li>
                   <li>
                      <a href="#">restaurant</a>
                   </li>
                   <li>
                      <a href="#">life style</a>
                   </li>
                   <li>
                      <a href="#">design</a>
                   </li>
                   <li>
                      <a href="#">illustration</a>
                   </li>
                </ul>
             </aside>
             <aside class="single_sidebar_widget instagram_feeds">
                <h4 class="widget_title">Instagram Feeds</h4>
                <ul class="instagram_row flex-wrap">
              <li>
                 <a href="#">
                    <img class="img-fluid" src="../../assets/img/post/post_5.png" alt="">
                 </a>
              </li>
              <li>
                 <a href="#">
                    <img class="img-fluid" src="../../assets/img/post/post_6.png" alt="">
                 </a>
              </li>
              <li>
                 <a href="#">
                    <img class="img-fluid" src="../../assets/img/post/post_7.png" alt="">
                 </a>
              </li>
              
           </ul>
             </aside>
             
          </div>
       </div>
    </div>
 </div>
</section>