<div class="row">
            
           
    <div class="col-12 grid-margin stretch-card" *ngIf="offer">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Offer details..</h4>
          <form class="forms-sample" >
            <div class="form-group">
                <div class="list-group">

                   <img src="{{'http://localhost:7882/FileUploads/'+offer.image.path}}" width="250px" length="250px">
                    <p class=""> {{offer.description}} </p>
                  </div>

                  
             
            </div>
            
           
            <button type="submit" class="btn btn-primary mr-2" (click)="acceptOffer()" >Accept</button>
            <button type="submit" class="btn btn-primary mr-2" (click)="rejectOffer()" >Reject</button>
            <button class="btn btn-light" (click)="Cancel()">Return</button>
          </form>
        </div>
      </div>
    </div>
  
    
  </div>